@charset "ISO-8859-1";
body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	overflow-x:hidden
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 225px;
  background-color: #f1f1f1;
  overflow: auto;
  border-right: 1px solid #d9d8d8;
}

.username{
	color: #ff3030;
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: #4a4b4b;
    padding: 12px;
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 1px solid #b6b6b6;
}

.btn-danger{
	color: #fff;
    padding: 4px 8px;
    margin: 12px;
    background-color: #dc3545;
    border-color: #dc3545;
    font-weight: bold;
    font-size: 14px;
}

.btn-dark{
	    color: #fff;
    background-color: #009688;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 14px;
    margin: 12px;
}


.sadmin{
	height:600px;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar-brand img{
  	width: 50px;
    height: 50px;
    border-radius: 50%;
}

	div.content {
	  
	margin: 10px;
	width: 1100px;
	 
	}
	
	.fadmin{
		background-color: white;
	    padding: 5px;
	    margin: 5px;
	    border: 2px solid #04AA6D;
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	    justify-content: space-between;
	}
	
	.titliste{
	font-size: 21px;
    color: #383838;
    font-weight: bold;
    font-family: monospace;
    margin: 20px 0 20px;
	}
	
	.fadmin div{
	margin-bottom: 1.5rem!important;
    width: 415px;
    margin: 0 auto;
	}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}



@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.container-fluid {
    overflow: hidden;
   
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
.centre{
    text-align: center;
}
.mesForm{
	width:50%;
	border:0.5px solid #dfe2e8;
	margin:100px auto;
	padding:10px;
	
}
.etudiants {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.etudiants td, .etudiants th {
      border: 1px solid #b4b4b4;
    width: 100px;
    padding: 0;
    font-size: 14px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
}

.etudiants str:nth-child(even){background-color: #f2f2f2;}

.etudiants tr:hover {background-color: #ddd;}

.etudiants th {

    text-align: center;
    background-color: #607d8b;
    color: white;
    font-size: 15px;
    font-family: serif;
}
