@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
	box-sizing:border-box
}
#abdou{

  
position: absolute;
left: 50%;
top: 30%;
transform: translate(-50%, -50%);



}
.navbar a{
	color:white
}
#abdou button{
	margin-left:15px
}

.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
.centre{
    text-align: center;
}
.mesForm{
	width:50%;
	border:0.5px solid #dfe2e8;
	margin:100px auto;
	padding:10px;
	
}